*{
    margin: 0;
    padding: 0;
    outline: 0;
}


.header{
    background-color: blueviolet;
    width: 1280px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.banner{
    background-color: aqua;
    width: 1280px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.main{
    width: 1280px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    position: relative;
}
.col_1{
    background-color: darksalmon;
    width: 320px;
    height: 600px;
    margin-right: auto;
}


.col_2{
    background-color: darkgreen;
    width: 480px;
    height: 600px;
    left: 320px;
    right: 480PX; 
}
.col_3{
    background-color: aquamarine;
    width: 480px;
    height: 600px;
    left: 800px;
    right: 0;
}

.footer{
    background-color: grey;
    width: 1280px;
    height: 100px;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

